<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
Following the inaugural Deleuze Studies in Asia meeting in Taipei, Taiwan, in 2013, the Deleuze/Guattari camp and conference has been hosted successfully in Manipal (India), Osaka (Japan), Seoul (Korea), Singapore and most recently Naga (The Philippines). It returns to the Japanese archipelago in 2019. This event remains the premier philosophical organ for Deleuze and Guattari studies in Asia and its transdisciplinary membership continues to contribute significantly to other Deleuze and Guattari gatherings across the world. With this in mind, and on the singularly precious occasion of Tokyo’s 2019 camp and conference, we shall continue the indefatigable spirit of former meetings to exchange ideas, to discuss and to think about Deleuze and Guattari in new and challenging ways.</p>

<p>
All kindred open, serious and joyful thinkers are welcome, from whatever discipline for Deleuze and Guattari’s thought remains the only true and open contemporary philosophy.
</p>

<p>
In accordance with previous events, the summer school or camp will take place before the Deleuze / Guattari conference proper.
</p>

<p>
In a welcoming, supportive atmosphere, the camp will be held at the art space ‘3331 Arts Chiyoda’, where leading intellectuals and scholars regularly give lectures on philosophy, politics, cinema, art, psychoanalysis and medical science.
</p>

<p>
We are planning several extracurricular activities including a workshop on Noh theatre (classical Japanese drama), and a young artists’ exhibition inspired by Deleuze’s philosophy. This dual focus will reconstruct the old and new, high and low, young and old, in a deliberately affirmative, joyous and celebratory Deleuzian mode.
</p>

<p>
The conference proper will be held at University of Tokyo, Komaba Campus, which remains a trailblazer of philosophy in the metropolis and beyond.
</p>

<p>
Here, global Deleuze experts have been invited to give keynotes and lectures, including the English translator of Levinas and Merleau-Ponty, Alphonso Lingis, whose deep and much-celebrated thought has developed a singular and inspiring Deleuze-inflected phenomenology.
</p>

<p>
The theme for the conference is ‘War Machine, Conflict, Coexistence’. Why? Because we live in a world where the concept ‘war machine’ has now become so miserably commonplace and anodyne. How? In two respects: 1) the contemporary globalized form of capitalism has overwhelmed national economies and; 2) terrorism has replaced traditional forms of state-war. As such, conflicts are so pervasive on a global scale yet often elude traditional social, political and economic schematics.
</p>

<p>
In the play of perceptible and imperceptible, how should or can we coexist in such a world? How does the work of Deleuze and Guattari assist this new relation? One problem arises. As the idea of coexistence is not explicitly explored in their philosophy, how can we respond to this conspicuous lacuna? Given this bottleneck of reason, it is exceedingly timely to think contemporary geo-political problems and ideas from the perspective of Deleuze and/or Guattari. Our task is to begin thinking again; to shed another dogmatic image of thought.
</p>

<p>
Given this crisis and amid such devastating conflict, we are asking conference delegates to think about the concept of coexistence in a Deleuzian way. We are in search for nothing less than a new paradigm or image of thought.
</p>

<p>
Yet in a deliberate sense, the 2019 Deleuze and Guattari event and project in Tokyo remains open to those not determined as ‘Deleuzians’ or ‘Guattarians’. In any event, we have never been Deleuzians and Guattarians. Faced with this provocative disavowal, we are inviting forms of non-philosophy to counter the sclerotic impulses of dogmatic thinking.
</p>

<p>
The committee of the 2019 Deleuze and Guattari in Asia conference wants our joint moment to be one for witnessing and understanding the multiple theoretical conflicts surrounding Deleuze/Guattari Studies.
</p>

<p>
We are not aiming for a communion of self-same herd thinking, another yeah saying for whatever absurd purpose, but rather a veritable explosion of difference.
</p>

<p>
As such, the continuous construction-reconstruction of the intellectual assemblage of the Deleuze and Guattari Studies in Asia Conference means that its membership is steadfastly not a parochial fanclub. It remains doggedly radical, global and Deleuzian through and through.
</p>

<p>
We are a gathering for discussing and thinking in a fundamental and rigorous sense, in the resplendent open and chaotic sense which the brilliance of Deleuze and Guattari’s joint philosophy demands.
</p>

<p>
Do take inspiration from the following:
« Ce qui est premier dans la pensée, c’est l’effraction, la violence, c’est l’ennemi, et rien ne suppose la philosophie, tout part d’une misosophie. » (Gille Deleuze, Différence et répetition, PUF, p.181-182)
</p>
