<h2 class="section-title">{{ .titles.accommodation }}</h2>

<p itemprop="description">
Thank you for your registration to the 7th Deleuze / Guattari Studies in Asia Conference.
</p>
<p>
We can offer specially priced accommodation for students (<a href="https://nyc.niye.go.jp/en/" target="_blank">Yoyogi Olympic Center</a> : 5500 JPY par night). If you are an undergraduate, graduate, postdoctoral student or unwaged, and if you wish to stay there, please complete this <a href="https://goo.gl/forms/671CEqr8s4W5MJZP2" target="_blank">form</a>.
</p>
