<h2 class="section-title">{{ .titles.exhibition }}: Between figure and contour</h2>

<p itemprop="description" style="text-indent: 0em;">
period: 17th[Mon] - 23th[Sun] June 2019. 10:00-21:00 <br/>
venue: 3331 Arts Chiyoda, 1F rounge. <br/>
artists: Shingo Aruga, Shuhei Ise, Haruchi Osaki, Yuko Ozawa＋Masaru Aikawa, Goro Murayama. <br/>
</p>
<p>
The 7th Deleuze/Guattari Studies in Asia Conference will be held in Tokyo. The event is composed of a summer school or “camp” and the actual conference. The director of the conference is philosopher Koichiro Kokubun.
</p>
<p>
Deleuze is a philosopher who had a significant impact on art and art theory. To present these resonances in art, there will be an exhibition of works inspired by Deleuze and/or Guattari by five young artists at the conference venue, 3331 Art Chiyoda in Akihabra, during the conference period.
</p>
<p style="text-indent: 0em; margin-bottom: 0px;" >
Concept:</p><p>
Deleuze and Guattari’s texts are read not only to expand discursive space but also to apply them to practice. In this exhibition, artists read a part of Deleuze and Guattari’s texts to proceed from reading and interpretation to the production of a work. The exhibition will showcase the works as well as short essays by the artists that explain the thought processes that they have gone through. The participating artists engage with diverse forms of expression including painting, video, installation, poetry, and workshops. This is an attempt to make a step forward towards the coming philosophy and art, starting with the creativity of young artists who respond to the growing breadth of research on Deleuze and Guattari.
</p>

<img border="0" src="../img/deleuze_guattri.png" style="width: 100%;">
