<h2 class="section-title">{{ .titles.timeline }}</h2>

<ul class="timeline-box">
	<li>
		<a href="#">Opened our website</a>
		<a href="#" class="float-right">6 June, 2018</a>
		<p>We have opened the website of deleuzetokyo 2019. Only contact information was listed.</p>
	</li>
	<li>
		<a href="#">Starting application of conference</a>
		<a href="#" class="float-right">15 October, 2018</a>
		<p>We have started accepting applications for the conference. At the same time, we started accepting applications for panel discussion.</p>
	</li>
	<li>
		<a href="#">DEADLINE EXIT</a>
		<a href="#" class="float-right">14 January, 2019</a>
		<p>We have finished accepting applications for the conference.</p>
	</li>
	<li>
		<a href="#">Starting application of CAMP</a>
		<a href="#" class="float-right">17 January, 2019</a>
		<p>We started accepting applications for CAMP. <span style='color: red;'>On the same day, We sent an email to everyone who applied for the conference. If you have not received it, please contact us at <a href="mailto:deleuzetokyo2019@gmail.com?subject=I applied for it, but I didn't receive an email.">deleuzetokyo2019@gmail.com</a> as soon as possible.</span></p>
	</li>
	<li>
		<a href="#">Notify the results of the peer review of deleuze tokyo 2019.</a>
		<a href="#" class="float-right">26 January, 2019</a>
		<p>We notified the conference applicants of the results of the peer review.
		If you have applied but have not received an email, please contact us immediately.</p>
	</li>
	<li>
		<a href="#">Registartion Starting</a>
		<a href="#" class="float-right">24 February, 2019</a>
		<p>We have sent you an email notification of Registration Starting. I also sent the official acceptance letter of the conference.</p>
	</li>
</ul>
