<h2 class="section-title">{{ .titles.tokyo }}</h2>

<p itemprop="description">The city of Tokyo offers various attractions such as:</p>

<ul>
  <li>The Imperial Palace</li>
  <li>Ginza District: Shop 'til you Drop</li>
  <li>Asakusa and the SensĹ-ji Temple</li>
  <li>National Museum of Nature and Science</li>
  <li>Ueno Park and Zoo</li>
  <li>Tokyo National Museum</li>
  <li>National Museum of Western Art</li>
  <li>The Meiji Shrine</li>
  <li>The Tokyo Skytree</li>
  <li>The Kabuki-za Theatre</li>
</ul>

<img class="photo" src="/img/tokyo.jpeg" alt="tokyo">
